{% load static %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}University Portal{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'ssi/portal.css' %}">
</head>
<body>
  <header class="top">
    <div class="brand">&#127891; Demo University</div>
    <nav>
      <a href="{% url 'home' %}"
         class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>

      {% if request.session.member %}
        <a href="{% url 'dashboard' %}"
           class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">Dashboard</a>
        <a href="{% url 'profile' %}"
           class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">Profile</a>
        <a href="{% url 'messages' %}"
           class="{% if 'messages' in request.resolver_match.url_name %}active{% endif %}">Messages{% if pending_chat_requests %}
          <span class="pill wait" style="margin-left:6px; padding:1px 7px; font-size:11px">{{ pending_chat_requests }}</span>
        {% endif %}</a>
      {% endif %}
    </nav>

    <div class="spacer"></div>

    {% if request.session.member %}
      <div class="who">
        {{ request.session.member.full_name }}
        <span class="role">{{ request.session.member.role|default:"student" }}</span>
      </div>
      <nav><a href="{% url 'logout' %}">Logout</a></nav>
    {% else %}
      <nav>
        <a href="{% url 'request_credential' %}"
           class="{% if request.resolver_match.url_name == 'request_credential' %}active{% endif %}">Request a credential</a>
        <a href="{% url 'login' %}"
           class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Login</a>
      </nav>
    {% endif %}
  </header>

  <main>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
